 
  <div class="container-fluid op">
    <div class="row pt-1 out-card">
      <div class="col-12 col-sm-2 p-0">
        <div class="menu left-col d-flex">
          <ul class="list pt-4">
            <li>Feed</li>
            <li><%= link_to "Discover",  photos_path, {style: 'font-size: 20px;  color: black; text-decoration: none' } %></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-8 p-0 mid-col mb-4">
        <div class="col-12 pl-0 pr-0">
          <div class="pt-4 pb-4">
            <div class="row photos_to_albums">
              <div class="btn-group btn-group-lg but" role="group" aria-label="Basic example">
                <button type="button" class="btn pagebut " style="background:#3c5a96; color:#FFF">Photos</button>
                <button type="button" class="btn pagebut" style="border: 2px solid #3c5a96"><%= link_to "Albums", albums_path, {style: 'font-size: 20px;  color: #3c5a96 ; text-decoration: none' } %></button>
              </div>
            </div>
          </div>
        </div>	
      </div>

    </div>
  </div>

  <div class="container op">
    <div class="row">
    <% @photo.each do |photo|%>
      <div class="col-12 col-sm-6 col-md-6">
        <div class="card mb-3 shadow" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="https://i.pinimg.com/564x/e5/7c/4b/e57c4b70a4c3674069be6f4aa3cd967f.jpg" class="card-img cus" alt="..." data-toggle="modal" data-target="#mod">
            </div>

            <div class="col-md-6">
              <div class="card-body">
                <div  class="user d-flex">
                  <div id="image">TT</div>  <span id="name_user"><%= photo.user.fname%> <%=photo.user.lname %></span></div>  
                  <h5 class="card-title custitle" ><%= photo.title%></h5>
                  <p class="card-text cusdesc " ><%= photo.desc%></p>
                  <p class="card-text"><small class="text-muted"><%= photo.created_at%></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end%>
      </div>
  </div>
  


  <div class="modal fade " id="mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class=modal-header>
          <h4 id="modal-title"></h4>
        </div>
         <div class="modal-body">
          <img class="modal-img" src="" alt="...">
          <p id="modal-desc"></p>
        </div>
      </div>
    </div>
  </div>
