<div class="container">
    <div class="card ">
        <div class="row photos_to_albums">
            <div class="col-sm-8">
                <%= form_for @photo, html: {class: "form-horizontal"} do |f| %>
                    <div class="form-group">
                            <%= f.label :title, "Title of Picture", class: "col-md-2 control-label" %>
                        <div class="col-md-10">
                            <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
                        </div>
                    </div>
                    <div class="form-group">
                            <%= f.label :desc, "Description", class: "col-md-2 control-label" %>
                        <div class="col-md-10">
                            <%= f.text_field :desc, class: "form-control", placeholder: "Enter description" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="picture">
                            <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
                        </div>
                    </div>

                    <%= f.select :status, options_for_select([["Public", "1"],["Private", "0"] ]), :class => 'genForm_dropBox' %>


                    <div class="form-group">
                        <div class="col-md-10">
                            <%= f.submit "Upload", class: "btn btn-success" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>