<div class="container-fluid">
  <div class="row pt-1 out-card">
     <div class="col-lg-2 col-md-2 col-sm-2 col-12">
        <ul class="list mt-4 submenu ">
        <li><%= link_to "Feed",  photos_path, class: 'feed-submenu' %></li>
        <li><%= link_to "Discover",  photos_path, class: 'discover-submenu' %></li>
      </ul>
    </div>
    <div class="col-lg-8 col-md-11 col-sm-11 col-12 p-0 mid-col mb-4">
      <div class="row p-5">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="info-top">
            <div class="row">
              <div class="col-lg-3 col-3">
                <div class="avatar">
                  <img src= <%= @user.avatar_url%> alt="">
                </div>
              </div>
              <div class="col-lg-9 col-9 p-0">
                <div class="col-lg-12 col-12">
                  <div class="following">
                    <div class="custom-btn">Edit profile</div>
                  </div>
                </div>
              <div class="col-lg-12 col-12 mt-4">
                <div class="name pt-2">
                  <h1><%= @user.lname%>&nbsp;<%=@user.fname%></h1>
                </div>
              </div>
              <div class="col-lg-12 col-12 mt-3 d-flex">
                <ul class= profiles-link>            
                  <li> <%=@user.photos_count %>  <%= link_to 'Photos',profiles_show_path(@user.id) %>&nbsp;&verbar;</li>
                  <li> <%=@user.albums_count %>  <%= link_to 'ALbums',profiles_album_path(@user.id) %>&nbsp;&verbar;</li>
                  <li> <%=@user.following_count %>  <%= link_to 'Following',profiles_following_path(@user.id) %>&nbsp;&verbar;</li>
                  <li> <%=@user.follower_count %>  <%= link_to 'Follower',profiles_follower_path(@user.id) %>&nbsp;&verbar;</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
     <% if @user == current_user%>
    <div class="col-lg-12 col-md-12 col-12 mt-2">
      <div class="following addphoto-but">
          <%= link_to new_album_path do %>
            <div class="custom-btn-addphoto">Add Album</div>
           <%end%>
        </div>
    </div>
    <%end%>
    <div class="col-lg-12 col-md-12 col-12 mt-4">
      <div class="row">
      <% @albums.each do |album|%>
       <div class="col-12 col-md-3">
         <img alt="picture" src= <%= album.photos.take.image_url(:thumb)%> class="img-fluid">
          <h4> <%= album.title%></h4>
      </div>
      <%end%>
    </div>
  </div>
</div>