<!DOCTYPE html>
<html>
  <head>
    <title>Fotobook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
  <div class="container-fluid navbar_bg">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-search"></i>
        </button>
        <a class="navbar-brand" href="#">Fotobook</a>
        <div class="collapse navbar-collapse">
          <form class="form  my-0 custom_input">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
          </form>
        </div>
        <a class="navbar-brand navbar-brand_login" href="login.html">Login</a>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="collapse navbar-collapse response_Search" id="navbarTogglerDemo01">
      <form class="form  my-0 reponse_input">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
      </form>
    </div>
  </div>

  <div class="container">
    <% flash.each do |type, msg| %>
     <div><%= msg %></div>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
