<div class="container-fluid">
  <div class="row pt-1 out-card">
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
      <div class="left-col d-flex">
        <ul class="list pt-4">
            <li>
              <a class="active" href="#">Feeds</a>
            </li>
            <li>
                <a href="#">Discover</a>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 col-md-11 col-sm-11 col-12 p-0 mid-col mb-4">
      <div class="row p-5">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="info-top">
            <div class="row">
              <div class="col-lg-3 col-3">
                <div class="avatar">
                  <img src= <%= current_user.avatar_url%> alt="">
                </div>
              </div>
              <div class="col-lg-9 col-9 p-0">
                <div class="col-lg-12 col-12">
                  <div class="following">
                    <div class="custom-btn">Edit profile</div>
                  </div>
                </div>
              <div class="col-lg-12 col-12 mt-4">
                <div class="name pt-2">
                  <h1><%= current_user.fname%>&nbsp;<%=current_user.lname%></h1>
                </div>
              </div>
              <div class="col-lg-12 col-12 mt-3 d-flex">
                <div class="sub-info">
                    <span class="number"><%= current_user.photos_count%></span>
                    <span class="sub-name-info">Photos</span>
                    <span class="sign-divide">|</span>
                </div>

                <div class="sub-info">
                    <span class="number"><%= current_user.albums_count%></span>
                    <span class="sub-name-info">Albums</span>
                    <span class="sign-divide">|</span>
                </div>

                <div class="sub-info">
                    <span class="number"><%= current_user.following_count%></span>
                    <span class="sub-name-info">Following</span>
                    <span class="sign-divide">|</span>
                </div>

                <div class="sub-info">
                    <span class="number"><%= current_user.follower_count%></span>
                    <span class="sub-name-info">follower</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 mt-2">
      <div class="following addphoto-but">
          <%= link_to new_photo_path do %>
            <div class="custom-btn-addphoto">Add photo</div>
           <%end%>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 mt-4">
      <div class="row">
      <% @follower.each do |follower|%>
        <div class="col-lg-3 col-md-6 col-6 p-0 pl-1 pr-1">
          <div class="items mt-3 mb-3">
              <div class="avatar mb-1">
                  <img src=<%= follower.avatar%> alt="">
              </div>
              <div class="name mb-2"> <%= follower.lname%> <%= follower.fname%></div>
              <div class="number d-flex justify-content-between">
                  <div class="photo">
                      <span class="number"><%=follower.photos_count%></span>
                      <span class="type">photo</span>
                  </div>

                  <div class="album mb-2">
                      <span class="number"><%=follower.albums_count%></span>
                      <span class="type">album</span>
                  </div>
              </div>
              <div class="flw">
                  <button class="custom-btn-following" type="button">following</button>
              </div>
          </div>
      </div>
      <%end%>
    </div>
  </div>
</div>