<div class="container-fluid cus-body-color">
  <div class="row">
    <div class="col-12 col-sm-2 sticky-top ">
      <ul class="list mt-4 submenu ">
        <li><%= link_to "Feed",  photos_path, class: 'discover-submenu' %></li>
        <li><%= link_to "Discover",  discover_photos_path, class: 'feed-submenu' %></li>
      </ul>
    </div>
    <div class="col-12 col-sm-8 pt-4 cus-card-color">
      <div class="photos_to_albums">
        <div class="btn-group btn-group-lg but" role="group" aria-label="Basic example">
          <button type="button" class="btn pagebut " style="background:#3c5a96; color:#FFF">Photos</button>
          <button type="button" class="btn pagebut" style="border: 2px solid #3c5a96"><%= link_to "Albums", discover_albums_path, {style: 'font-size: 20px;  color: #3c5a96 ; text-decoration: none' } %></button>
        </div>
      </div>

      <div class="container cus-main op">
        <div class="row mt-4">
          <% @photo.each do |photo|%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 photo-container">
            <div class="card mb-3 shadow" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-12 col-lg-7">
                  <img src=<%= photo.image_url(:thumb)%> class=" cus" alt="..." data-toggle="modal" data-target="#mod">
                </div>

                <div class="col-md-12 col-lg-5">
                  <div class="card-body cus-body">
                 
                    <div  class="user d-flex">
                        <div class="image"> 
                          <%=photo.user.fname.slice(0)+photo.user.lname.slice(0)%>
                        </div>
                         <%= link_to profiles_show_path(photo.user.id) do %> 
                      <span class=" "><%= photo.user.fname%> <%=photo.user.lname %></span>
                      <% end%>
                      
                        <% if photo.user.following.include? current_user%>
                           <div class="custom-btn-following"> <%= link_to  "Unfollow", profile_following_delelte_path(photo.user_id), method: :delete %></div>
                        <%else%>
                           <div class="custom-btn-following"> <%= link_to  "Follow", profile_following_connect_path(photo.user_id),  method: :post%></div>
                        <%end%>
                    </div>
                     
                    <h5 class="card-title custitle" ><%= photo.title%></h5>
                    <p class="card-text cusdesc " ><%= photo.desc%></p>
                  </div>
                  <div>
                      <% if photo.reactions.exists? user_id: current_user.id%>
                        <%= link_to reactions_unreact_photo_path(photo.id) do %>
                          <i class="fas fa-heart fa-1x">&nbsp;123</i>
                        <% end%> 
                      <%else%>
                        <%= link_to reactions_react_photo_path(photo.id) do %>
                          <i class="far fa-heart fa-1x">&nbsp;123</i>
                        <% end%> 
                      <% end%> 

                    <i class="card-text"><small class="cusdate pt-1"><%= photo.created_at%></small></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
            <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
             


<!-- Modal -->
<div class="modal fade" id="mod" tabindex="-1" role="dialog" aria-labelledby="modal-title-id" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title-id">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modal-img" src="" alt="..." style="width:100%;height:auto">
      </div>
      <div class="modal-footer">
       <p id="modal-desc"></p>
      </div>
    </div>
  </div>
</div>
<div class="photos_to_albums"> <%= paginate @photo, theme: 'twitter-bootstrap-4' %></div>